* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:active,
a:hover,
a:focus,
.active {
    background-color: rgba(216, 236, 36, 0.2);
    color: #b8d74a;
}

video {
    width: 100%;
    height: 100%;
    z-index: -1;
    box-sizing: content-box;
}

.type-loop::after{
    content:"|";
    margin-left: 6px;
    animation: blink 0.8s infinite;
}
@keyframes blink { 50% { opacity: 0; } }